---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
    <div class="navbar__title">
        <a href="/">Mi Portafolio</a>
    </div>
    <div class="navbar__menu">
        <a href="/proyectos/">Proyectos</a>
        <a href="/#experiencia">Experiencia</a>
        <a href="https://github.com/ttomczak3/Milky-Way" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>

